<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Roles')"></head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header"></header>
    <div class="row">
        <div class="container">
            <h1>Roles</h1>
            <a href="/roles/add" class="btn btn-primary admin-menu">+ Add New Role</a>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID:</th>
                        <th>Name:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="person : ${persons}">
                        <td th:text="${person.id}"></td>
                        <td th:text="${person.name}"></td>
                        <td><a th:href="@{'/tests/person/show/'(personId = ${person.id})}">Show</a></td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-default" href="/admin">Go Back</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>