<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='New Role')"></head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header"></header>

    <h1>Add Post</h1>

    <form action="#" th:action="@{/posts/save}" th:object="${post}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label for="role">Title:</label>
            <input type="text" class="form-control" id="role" th:field="*{title}" />
        </div>
        <div class="form-group">
            <label for="roleDescription">Summary:</label>
            <textarea class="form-control" id="roleDescription" rows="3" th:field="*{summary}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <div class="web-links">
        <a href="/roles">Go Back</a>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>