<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Posts')"></head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header"></header>
    <div class="row">
        <div class="container">
            <h1>Posts</h1>
            <a href="/posts/add" class="btn btn-primary admin-menu">+ Add New Post</a>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title:</th>
                        <th>Summary:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}">
                        <td th:text="${post.title}"></td>
                        <td th:text="${post.summary}"></td>
                        <td><a th:href="@{'/post_details/show/'(postId = ${post.id})}">Details</a></td>
                        <td><a th:href="@{'/posts/edit/'(postId = ${post.id})}">Edit</a></td>
                        <td><a th:href="@{'/posts/delete/'(postId=${post.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-default" href="/admin">Go Back</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>