<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Post Detail')"></head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header"></header>
    <h1>Post Details</h1>
    <h3 th:text="${post.title}"></h3>
    <p th:text="${post.summary}"></p>
    <a th:href="@{'/posts/show/add_details'(postId = ${post.id})}">Add Details to Post Here</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID:</th>
            <th>Content:</th>
            <th>Content Type:</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pd : ${postdetails}">
            <td th:text="${pd.id}"></td>
            <td th:text="${pd.content}"></td>
        </tr>
        </tbody>
    </table>
    <div class="web-links">
        <a href="/posts">Go Back</a>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>