<footer class="footer">
    <div class="container">
        <span class="text-muted">All Rights Reserved 2017</span>
        <button class="btn btn-default btn-lg pull-xs-right"><a href="#">Back to top</a></button>
    </div>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}"></script>


</footer>