<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <link href="/resources/css/styles.css" th:href="@{/resources/css/styles.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="container">
            <h1>Users</h1>
            <a href="/users/add" class="btn btn-primary admin-menu">+ Add New User</a>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID:</th>
                        <th>First Name:</th>
                        <th>Last Name:</th>
                        <th>Email:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.emailAddress}"></td>
                        <td><a th:href="@{'/users/show/' + ${user.id}}">Details</a></td>
                        <td><a th:href="@{'/users/edit/' + ${user.id}}">Edit</a></td>
                        <td><a th:href="@{'/users/delete/'(userId=${user.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-default" href="/admin">Go Back</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>