<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='User Detail')"></head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header"></header>
    <h1>User Details</h1>
    <p th:text="'Name: ' + ${user.firstName} + ' ' + ${user.lastName}"></p>
    <p th:text="'Email: ' + ${user.emailAddress}"></p>
    <div class="web-links">
        <a href="/users">Go Back</a>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>