<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='New User')"></head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header"></header>

        <h1>Add User</h1>

        <form action="#" th:action="@{/users/save}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" id="firstName" th:field="*{firstName}" />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}" />
            </div>
            <div class="form-group">
                <label for="emailAddress">Email:</label>
                <input type="email" class="form-control" id="emailAddress" th:field="*{emailAddress}" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <div class="web-links">
            <a href="/users">Go Back</a>
        </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>